# API Port Configurations
PORT=3000

# SQLite Database Connection 
# When deploying to Railway with a persistent volume mapping to /app/data,
# use the following Database URL. Locally, 'sqlite:data.db?mode=rwc' is sufficient.
DATABASE_URL=sqlite:///app/data/data.db?mode=rwc

# Secret key required to access the /admin/keys endpoint to generate API Keys
ADMIN_KEY=your_secure_super_secret_admin_password
